name: treeclust-env
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.8
  - numpy
  - scipy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - tqdm
  - pip
  - pip:
    - leidenalg
    - python-igraph
    - scikit-network
    - cairocffi